@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --foreground: rgb(var(--foreground-rgb));
  --foreground-light: rgb(150, 150, 150);
  --background-rgb: 255, 255, 255;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --zebra-rgba: 0, 0, 0, 0.08;
  --table-border-rgb: 127, 127, 127;
  --table-hover-color: rgb(180, 190, 255);
  --table-compatible-color: rgb(50, 255, 40);
  --table-compatible-color-light: rgb(from var(--table-compatible-color) r g b / 0.2);
  --table-incompatible-color: rgb(255, 40, 40);
  --table-incompatible-color-light: rgb(from var(--table-incompatible-color) r g b / 0.2);
  --table-disabled-color: rgb(180, 180, 180);
  --port-weight: 400;
  --low-contract-text: rgb(128, 127, 127);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --foreground-light: rgb(150, 150, 150);
    --background-rgb: 0, 0, 0;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --zebra-rgba: 255, 255, 255, 0.15;
    --table-border-rgb: 135, 135, 135;
    --table-hover-color: rgb(65, 68, 91);
    --table-disabled-color: rgb(120, 120, 120);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  background-color: rgb(var(--background-rgb));
  color: rgb(var(--foreground-rgb));

  > header,
  > main {
    padding: 0 2em;
  }
}

table.connection-grid {
  font-size: 12px;
  margin-top: 2rem;
  border-collapse: collapse;
  border-spacing: 0;

  col:nth-of-type(even) {
    background-color: rgba(var(--zebra-rgba));
  }

  th {
    white-space: nowrap;
  }
  
  td {
    border: 1px rgb(var(--table-border-rgb)) solid;
  }

  thead{
    background-color: rgb(var(--background-rgb));
    position: sticky;
    top: 0;
    z-index: 50;
    transform: skew(-20deg);
    transform-origin: bottom;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      width: 100%;
      border-bottom: 1px solid rgb(var(--foreground-rgb));
    }

    th, td {
      z-index: 10;
      background-color: rgb(var(--background-rgb));
    }

    th.device {
      position: relative;
      text-align: left;
      text-wrap: nowrap;
      writing-mode: vertical-lr;
      transform: rotate(180deg);

      &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 1px solid rgb(var(--table-border-rgb));
        border-width: 0 1px;
      }

      > span {
        display: inline-block;
        transform: rotate(20deg) skew(20deg);
        padding: .75em 0;
        height: 12ch;
        width: 1.2em;
        overflow:hidden;
        text-overflow: ellipsis;
      }
    }

    th.port {
      color: var(--low-contract-text);
      font-weight: var(--port-weight);
      text-wrap: nowrap;
      text-align: left;
      writing-mode: vertical-lr;
      transform: rotate(180deg);

      &.first-port::after,
      &.last-port::after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0 solid rgb(var(--table-border-rgb));
      }

      &.first-port::after {
        border-right-width: 1px;
      }

      &.last-port::after {
        border-left-width: 1px;
      }

      > span {
        display: inline-block;
        transform: rotate(20deg) skew(20deg);
        padding: .75em 0;
        width: 1.2em;
      }
    }

    td {
      border: none;
      text-align: center;
      transform: skew(20deg);

      &::after {
        content: '';
        background: rgb(var(--background-rgb));
        display: block;
        position: absolute;
        bottom: 0;
        right: 100%;
        width: 100%;
        height: 100%;
      }
    }
  }

  tbody {
    tr:hover th.port,
    tr:hover td {
      background-color: var(--table-hover-color);
    }

    tr.first-port,
    tr.last-port {
      border: 0 solid rgb(var(--table-border-rgb));
    }

    tr.odd {
      background: rgba(var(--zebra-rgba))
    }

    tr.first-port {
      border-top-width: 1px;
    }

    tr.last-port {
      border-bottom-width: 1px;
    }

    th {
      background-color: rgb(var(--background-rgb));
      text-align: right;
      padding: 0 .5em;
      z-index: 40;
    }

    th.device {
      text-align: center;
      position: sticky;
      left: 0;
      max-width: 12ch;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    th.port {
      color: var(--low-contract-text);
      font-weight: var(--port-weight);
      position: sticky;
      left: 12ch;
      height: 1.2em;
    }

    tr:hover th.port {
      color: var(--foreground-rgb);
    }

    td {
      position: relative;
      text-align: center;
      vertical-align: center;
      width: 2em;
      height: 2em;
    }

    td::after {
      content: '';
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 20;
      opacity: 1;
    }

    td.connected::after {
      background-color: blue !important;
      opacity: 1;
    }

    td.error::after {
      transition: all 1s ease-out;
      background-color: var(--table-incompatible-color) !important;
      width: 200%;
      height: 200%;
      top: -50%;
      left: -50%;
      opacity: 0;
    }
  }
}

