@page  avery-5160{
  size: letter portrait;
  margin: 0.42in 0.22in 0.42in 0.22in ;
}

@page  avery-5196{
  size: letter portrait;
  margin: 0.55in 0.3in 0.55in 0.3in ;
}

.label-sheet {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  box-sizing: border-box;
  page-break-inside: avoid;
  width: 8.5in;
  height: 11in;

  .label {
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: none;
    border: 1px solid black;
  }
}

.label-sheet[data-label-type="Avery-5160"] {
  page: avery-5160;
  justify-content: space-between;

  .label {
    width: 2.625in;
    height: 1in;
    font-size: 10pt;
  }
}

.label-sheet[data-label-type="Avery-5195"] {
  page: avery-5195;
  justify-content: space-between;

  .label {
    width: 1.75in;
    height: .66in;
    font-size: 8pt;
    padding: 0.06in .1in;
    line-height: 1.1;
  }
}

