@media print {

  .MuiCard-root {
    page-break-before: always;
    page-break-after: always;
    page-break-inside: avoid;
  }

  .channel-chart {
    width: fit-content;
    font-size: 28px;
  }

  .device-label {
    width: fit-content;
    padding: 4pt;
    font-size: 10pt;
  }
}