@media print {
  body > main > :not(.print-pages) {
    display: none;
  }

  .print-pages {
    display: block;
  }

  .print-page {
    page-break-inside: avoid;
    box-shadow: none;
    border: 1px solid lightgrey;
    border-radius: 0;
  }

  .channel-chart {
    width: fit-content;
    font-size: 28px;
  }
}