.midi-label {

  .device-channels {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    .channel::after {
      content: ', '
    }
    .channel:last-of-type::after {
      content: ''
    }
  }

  .port-connections {
    .inputs,
    .outputs {
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .port {
      font-weight: bold;
    }

    .port::after {
      content: ', '
    }
    .port:last-of-type::after {
      content: ''
    }
  }
}

[data-label-type="Avery5195"] {
  font-size: 8pt;
  line-height: 1.15;
}